:root {
    scroll-behavior: smooth;
  }
  *{
      text-decoration: none;
  }
  .body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h1.title{
      margin-bottom: 20px;
      color: #2b2727;
      text-transform: uppercase;
      font-size: 38px;
      word-spacing: 25px;
      letter-spacing: 5px;
  }
  
  p{
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 20px;
      color: #494242;
  }
  .header {
    background-color: rgb(19, 12, 12);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.25rem 0.25rem 0 #20232a80;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    padding: 0.25rem 2rem;
    margin: auto;
  }
  
  .header-nav__link-logo-container {
    max-width: 4rem;
  }
  
  .header-nav__logo {
    width: 100%;
    border-radius: 50%;
  }
  
  .header-nav__link-list {
    display: flex;
    gap: 0.75rem;
  }
  
  .header-nav__link-item {
    list-style: none;
  }
  
  .header-nav__link {
    text-decoration: none;
    font-weight: 700;
    color: #d2d6db;
    transition: all 0.25s;
  }
  
  .header-nav__link:hover {
    color: #af2e2e;
    border-bottom: 0.25rem solid rgb(59, 58, 48);
  }
  .portada_image{
      background: url('https://www.teahub.io/photos/full/294-2949534_sunrise-mountains-wallpaper-sunrise-mountains-tennessee-mountains-pink.jpg') no-repeat top center;
      background-size: cover;
      width: 100%;
      height: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .portada_content{
      text-align: center;
      color: rgb(243, 241, 241);
  }
  
  .portada_content h1{
      text-transform: uppercase;
      line-height: 38px;
      margin-bottom: 15px;
  }
  
  .portada_content h1 span{
      color: #0c0808;
  }
  
  
  .about,
  .productos,
  .contacto,
  .compras{
      text-align: center;
      padding: 5% 10%;
  }
  .about{
      background: #5a7ead;
  }
  .productos{
      background: #E3E4E5;
  }
  
  .diff_productos {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
  }
  
  .diff_productos .diff_productos_item {
      width: 30%;
  }
  
  .diff_productos .diff_productos_item img {
      width: 100%;
      margin-bottom: 25px;
      box-shadow: 0 0 0 0.25rem #af2e2e;
  }
  
  .diff_productos .diff_productos_item h3 {
      color: #fb2274;
      margin-bottom: 15px;
  }
  .wave-separator {
    margin: 0 0 -0.5rem 0;
  }
  
  .wave-separator--r-180deg {
    margin: -0.5rem 0 0 0;
    transform: rotate(180deg);
  }
  
  .wave-separator__wave-container {
    display: flex;
    margin: 0;
  }
  
  .wave-separator__wave {
    width: 100%;
  }
  
  .form_wrapper .form_input{
      margin-bottom: 15px;
  }
  
  .form_wrapper .form_input input[type="text"]{
      width: 250px;
      padding: 12px 20px; 
      border: 1px solid #ccc;
  }
  .form_wrapper .form_input textarea{
      width: 250px;
      padding: 12px 20px; 
      height: 80px;
      resize: none;
      border: 1px solid  #ccc;
  }
  
  .compras{
      background: #E3E4E5;
  }
  .compras_wrapper{
      display: flex;
      flex-direction: column;
  }
  .compras_wrapper .team{
      display: flex;
      justify-content: space-between;
  }
  .compras_wrapper .team-1.team{
      margin-bottom: 25px;
  }
  
  .compras_wrapper .team_p{
      width: 30%;
      height: auto;
      cursor: pointer;
      overflow: hidden;
      position: relative;
  }
  
  .compras_wrapper .team_p img{
      display: block;
      width: 100%;
      height: auto;
      transition: all 0.5s ease;
  }
  
  .compras_wrapper .team_p:hover img{
      transform: scale(1.1);
  }
  
  .footer{
      width: 100%;
      text-align: center;
      background: #444444;
      padding: 20px 0;
  }
  
  .footer a{
      color: #fff;
  }
